.vscode/**
.vscode-test/**
.devcontainer/**
.husky/**
.github/**
.idea/**
.nvmrc
.prettier.mjs
scripts/**
src/**
.gitignore
.yarnrc

**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
images/**
test-plan/**
@types/**
