@font-face {
  font-family: 'Heroku-Malibu';
  src:
    url('fonts/Heroku-Malibu.ttf?cq3rcc') format('truetype'),
    url('fonts/Heroku-Malibu.woff?cq3rcc') format('woff'),
    url('fonts/Heroku-Malibu.svg?cq3rcc#Heroku-Malibu') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Heroku-Malibu' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-16:before {
  content: '\e900';
}
.icon-add-28:before {
  content: '\e901';
}
.icon-add-badge-16:before {
  content: '\e902';
}
.icon-add-badge-28:before {
  content: '\e903';
}
.icon-add-mark-16:before {
  content: '\e904';
}
.icon-add-mark-28:before {
  content: '\e905';
}
.icon-add-ring-16:before {
  content: '\e906';
}
.icon-add-ring-28:before {
  content: '\e907';
}
.icon-addon-config-16:before {
  content: '\e908';
}
.icon-addon-config-28:before {
  content: '\e909';
}
.icon-alert-badge-16:before {
  content: '\e90a';
}
.icon-alert-badge-28:before {
  content: '\e90b';
}
.icon-alert-mark-16:before {
  content: '\e90c';
}
.icon-alert-mark-28:before {
  content: '\e90d';
}
.icon-alert-ring-16:before {
  content: '\e90e';
}
.icon-alert-ring-28:before {
  content: '\e90f';
}
.icon-app-16:before {
  content: '\e910';
}
.icon-app-28:before {
  content: '\e911';
}
.icon-app-dead-16:before {
  content: '\e912';
}
.icon-app-dead-28:before {
  content: '\e913';
}
.icon-app-locked-16:before {
  content: '\e914';
}
.icon-app-locked-28:before {
  content: '\e915';
}
.icon-app-review-16:before {
  content: '\e916';
}
.icon-app-review-28:before {
  content: '\e917';
}
.icon-app-sleeping-16:before {
  content: '\e918';
}
.icon-app-sleeping-28:before {
  content: '\e919';
}
.icon-apps-16:before {
  content: '\e91a';
}
.icon-apps-28:before {
  content: '\e91b';
}
.icon-attach-16:before {
  content: '\e91c';
}
.icon-attach-28:before {
  content: '\e91d';
}
.icon-auto-16:before {
  content: '\e91e';
}
.icon-auto-28:before {
  content: '\e91f';
}
.icon-automations-16:before {
  content: '\e920';
}
.icon-automations-28:before {
  content: '\e921';
}
.icon-billing-16:before {
  content: '\e922';
}
.icon-billing-28:before {
  content: '\e923';
}
.icon-build-16:before {
  content: '\e924';
}
.icon-build-28:before {
  content: '\e925';
}
.icon-buildpack-16:before {
  content: '\e926';
}
.icon-buildpack-28:before {
  content: '\e927';
}
.icon-caret-16:before {
  content: '\e928';
}
.icon-caret-28:before {
  content: '\e929';
}
.icon-chart-16:before {
  content: '\e92a';
}
.icon-chart-28:before {
  content: '\e92b';
}
.icon-check-16:before {
  content: '\e92c';
}
.icon-check-28:before {
  content: '\e92d';
}
.icon-ci-16:before {
  content: '\e92e';
}
.icon-ci-28:before {
  content: '\e92f';
}
.icon-configure-16:before {
  content: '\e930';
}
.icon-configure-28:before {
  content: '\e931';
}
.icon-confirm-16:before {
  content: '\e932';
}
.icon-confirm-28:before {
  content: '\e933';
}
.icon-connect-16:before {
  content: '\e934';
}
.icon-connect-28:before {
  content: '\e935';
}
.icon-console-16:before {
  content: '\e936';
}
.icon-console-28:before {
  content: '\e937';
}
.icon-contact-16:before {
  content: '\e938';
}
.icon-contact-28:before {
  content: '\e939';
}
.icon-containers-16:before {
  content: '\e93a';
}
.icon-containers-28:before {
  content: '\e93b';
}
.icon-copy-16:before {
  content: '\e93c';
}
.icon-copy-28:before {
  content: '\e93d';
}
.icon-data-16:before {
  content: '\e93e';
}
.icon-data-28:before {
  content: '\e93f';
}
.icon-data-cassandra-16:before {
  content: '\e940';
}
.icon-data-cassandra-28:before {
  content: '\e941';
}
.icon-data-kafka-16:before {
  content: '\e942';
}
.icon-data-kafka-28:before {
  content: '\e943';
}
.icon-data-postgres-16:before {
  content: '\e944';
}
.icon-data-postgres-28:before {
  content: '\e945';
}
.icon-data-redis-16:before {
  content: '\e946';
}
.icon-data-redis-28:before {
  content: '\e947';
}
.icon-dataclip-16:before {
  content: '\e948';
}
.icon-dataclip-28:before {
  content: '\e949';
}
.icon-datastore-16:before {
  content: '\e94a';
}
.icon-datastore-28:before {
  content: '\e94b';
}
.icon-delete-16:before {
  content: '\e94c';
}
.icon-delete-28:before {
  content: '\e94d';
}
.icon-deploy-16:before {
  content: '\e94e';
}
.icon-deploy-28:before {
  content: '\e94f';
}
.icon-device-16:before {
  content: '\e950';
}
.icon-device-28:before {
  content: '\e951';
}
.icon-diff-16:before {
  content: '\e952';
}
.icon-diff-28:before {
  content: '\e953';
}
.icon-direction-down-16:before {
  content: '\e954';
}
.icon-direction-down-28:before {
  content: '\e955';
}
.icon-direction-horizontal-16:before {
  content: '\e956';
}
.icon-direction-horizontal-28:before {
  content: '\e957';
}
.icon-direction-left-16:before {
  content: '\e958';
}
.icon-direction-left-28:before {
  content: '\e959';
}
.icon-direction-right-16:before {
  content: '\e95a';
}
.icon-direction-right-28:before {
  content: '\e95b';
}
.icon-direction-up-16:before {
  content: '\e95c';
}
.icon-direction-up-28:before {
  content: '\e95d';
}
.icon-direction-vertical-16:before {
  content: '\e95e';
}
.icon-direction-vertical-28:before {
  content: '\e95f';
}
.icon-docs-16:before {
  content: '\e960';
}
.icon-docs-28:before {
  content: '\e961';
}
.icon-dynomite-1x-16:before {
  content: '\e962';
}
.icon-dynomite-2x-16:before {
  content: '\e963';
}
.icon-dynomite-basic-16:before {
  content: '\e964';
}
.icon-dynomite-default-16:before {
  content: '\e965';
}
.icon-dynomite-eco-16:before {
  content: '\e966';
}
.icon-dynomite-free-16:before {
  content: '\e967';
}
.icon-dynomite-hobby-16:before {
  content: '\e968';
}
.icon-dynomite-pl-16:before {
  content: '\e969';
}
.icon-dynomite-pm-16:before {
  content: '\e96a';
}
.icon-dynomite-ps-16:before {
  content: '\e96b';
}
.icon-dynomite-px-16:before {
  content: '\e96c';
}
.icon-dynomite-shield-pl-16:before {
  content: '\e96d';
}
.icon-dynomite-shield-pm-16:before {
  content: '\e96e';
}
.icon-dynomite-shield-ps-16:before {
  content: '\e96f';
}
.icon-dynomite-space-pl-16:before {
  content: '\e970';
}
.icon-dynomite-space-pm-16:before {
  content: '\e971';
}
.icon-dynomite-space-ps-16:before {
  content: '\e972';
}
.icon-edit-16:before {
  content: '\e973';
}
.icon-edit-28:before {
  content: '\e974';
}
.icon-edit-accept-16:before {
  content: '\e975';
}
.icon-edit-accept-28:before {
  content: '\e976';
}
.icon-edit-modify-16:before {
  content: '\e977';
}
.icon-edit-modify-28:before {
  content: '\e978';
}
.icon-edit-reject-16:before {
  content: '\e979';
}
.icon-edit-reject-28:before {
  content: '\e97a';
}
.icon-element-16:before {
  content: '\e97b';
}
.icon-element-28:before {
  content: '\e97c';
}
.icon-error-badge-16:before {
  content: '\e97d';
}
.icon-error-badge-28:before {
  content: '\e97e';
}
.icon-error-mark-16:before {
  content: '\e97f';
}
.icon-error-mark-28:before {
  content: '\e980';
}
.icon-error-ring-16:before {
  content: '\e981';
}
.icon-error-ring-28:before {
  content: '\e982';
}
.icon-failure-badge-16:before {
  content: '\e983';
}
.icon-failure-badge-28:before {
  content: '\e984';
}
.icon-failure-ring-16:before {
  content: '\e985';
}
.icon-failure-ring-28:before {
  content: '\e986';
}
.icon-favorite-16:before {
  content: '\e987';
}
.icon-favorite-28:before {
  content: '\e988';
}
.icon-favorite-option-16:before {
  content: '\e989';
}
.icon-favorite-option-28:before {
  content: '\e98a';
}
.icon-favorite-remove-16:before {
  content: '\e98b';
}
.icon-favorite-remove-28:before {
  content: '\e98c';
}
.icon-features-16:before {
  content: '\e98d';
}
.icon-features-28:before {
  content: '\e98e';
}
.icon-file-16:before {
  content: '\e98f';
}
.icon-file-28:before {
  content: '\e990';
}
.icon-filter-16:before {
  content: '\e991';
}
.icon-filter-28:before {
  content: '\e992';
}
.icon-folder-16:before {
  content: '\e993';
}
.icon-folder-28:before {
  content: '\e994';
}
.icon-formation-16:before {
  content: '\e995';
}
.icon-formation-28:before {
  content: '\e996';
}
.icon-git-branch-16:before {
  content: '\e997';
}
.icon-git-branch-28:before {
  content: '\e998';
}
.icon-git-commit-16:before {
  content: '\e999';
}
.icon-git-commit-28:before {
  content: '\e99a';
}
.icon-git-merge-16:before {
  content: '\e99b';
}
.icon-git-merge-28:before {
  content: '\e99c';
}
.icon-git-pr-16:before {
  content: '\e99d';
}
.icon-git-pr-28:before {
  content: '\e99e';
}
.icon-handle-16:before {
  content: '\e99f';
}
.icon-handle-28:before {
  content: '\e9a0';
}
.icon-help-badge-16:before {
  content: '\e9a1';
}
.icon-help-badge-28:before {
  content: '\e9a2';
}
.icon-help-mark-16:before {
  content: '\e9a3';
}
.icon-help-mark-28:before {
  content: '\e9a4';
}
.icon-help-ring-16:before {
  content: '\e9a5';
}
.icon-help-ring-28:before {
  content: '\e9a6';
}
.icon-info-badge-16:before {
  content: '\e9a7';
}
.icon-info-badge-28:before {
  content: '\e9a8';
}
.icon-info-mark-16:before {
  content: '\e9a9';
}
.icon-info-mark-28:before {
  content: '\e9aa';
}
.icon-info-ring-16:before {
  content: '\e9ab';
}
.icon-info-ring-28:before {
  content: '\e9ac';
}
.icon-key-16:before {
  content: '\e9ad';
}
.icon-key-28:before {
  content: '\e9ae';
}
.icon-language-clojure-16:before {
  content: '\e9af';
}
.icon-language-clojure-28:before {
  content: '\e9b0';
}
.icon-language-go-16:before {
  content: '\e9b1';
}
.icon-language-go-28:before {
  content: '\e9b2';
}
.icon-language-gradle-16:before {
  content: '\e9b3';
}
.icon-language-gradle-28:before {
  content: '\e9b4';
}
.icon-language-java-16:before {
  content: '\e9b5';
}
.icon-language-java-28:before {
  content: '\e9b6';
}
.icon-language-node-16:before {
  content: '\e9b7';
}
.icon-language-node-28:before {
  content: '\e9b8';
}
.icon-language-php-16:before {
  content: '\e9b9';
}
.icon-language-php-28:before {
  content: '\e9ba';
}
.icon-language-python-16:before {
  content: '\e9bb';
}
.icon-language-python-28:before {
  content: '\e9bc';
}
.icon-language-ruby-16:before {
  content: '\e9bd';
}
.icon-language-ruby-28:before {
  content: '\e9be';
}
.icon-language-scala-16:before {
  content: '\e9bf';
}
.icon-language-scala-28:before {
  content: '\e9c0';
}
.icon-launch-16:before {
  content: '\e9c1';
}
.icon-launch-28:before {
  content: '\e9c2';
}
.icon-launcher-16:before {
  content: '\e9c3';
}
.icon-launcher-28:before {
  content: '\e9c4';
}
.icon-layout-grid-16:before {
  content: '\e9c5';
}
.icon-layout-grid-28:before {
  content: '\e9c6';
}
.icon-layout-list-16:before {
  content: '\e9c7';
}
.icon-layout-list-28:before {
  content: '\e9c8';
}
.icon-lightning-16:before {
  content: '\e9c9';
}
.icon-lightning-28:before {
  content: '\e9ca';
}
.icon-loading-16:before {
  content: '\e9cb';
}
.icon-loading-28:before {
  content: '\e9cc';
}
.icon-lock-locked-16:before {
  content: '\e9cd';
}
.icon-lock-locked-28:before {
  content: '\e9ce';
}
.icon-lock-unlocked-16:before {
  content: '\e9cf';
}
.icon-lock-unlocked-28:before {
  content: '\e9d0';
}
.icon-logo-block-16:before {
  content: '\e9d1';
}
.icon-logo-block-28:before {
  content: '\e9d2';
}
.icon-logo-mark-16:before {
  content: '\e9d3';
}
.icon-logo-mark-28:before {
  content: '\e9d4';
}
.icon-logo-outline-16:before {
  content: '\e9d5';
}
.icon-logo-outline-28:before {
  content: '\e9d6';
}
.icon-logs-16:before {
  content: '\e9d7';
}
.icon-logs-28:before {
  content: '\e9d8';
}
.icon-marketing-addon-48:before {
  content: '\e9d9';
}
.icon-marketing-api-48:before {
  content: '\e9da';
}
.icon-marketing-app-48:before {
  content: '\e9db';
}
.icon-marketing-architecture-48:before {
  content: '\e9dc';
}
.icon-marketing-browser-48:before {
  content: '\e9dd';
}
.icon-marketing-buildpack-48:before {
  content: '\e9de';
}
.icon-marketing-button-48:before {
  content: '\e9df';
}
.icon-marketing-cancel-48:before {
  content: '\e9e0';
}
.icon-marketing-caret-48:before {
  content: '\e9e1';
}
.icon-marketing-chatops-48:before {
  content: '\e9e2';
}
.icon-marketing-check-48:before {
  content: '\e9e3';
}
.icon-marketing-ci-48:before {
  content: '\e9e4';
}
.icon-marketing-cli-48:before {
  content: '\e9e5';
}
.icon-marketing-click-48:before {
  content: '\e9e6';
}
.icon-marketing-clock-48:before {
  content: '\e9e7';
}
.icon-marketing-cloud-48:before {
  content: '\e9e8';
}
.icon-marketing-code-48:before {
  content: '\e9e9';
}
.icon-marketing-connect-48:before {
  content: '\e9ea';
}
.icon-marketing-content-48:before {
  content: '\e9eb';
}
.icon-marketing-control-2-48:before {
  content: '\e9ec';
}
.icon-marketing-control-48:before {
  content: '\e9ed';
}
.icon-marketing-cost-48:before {
  content: '\e9ee';
}
.icon-marketing-data-48:before {
  content: '\e9ef';
}
.icon-marketing-dataclips-48:before {
  content: '\e9f0';
}
.icon-marketing-dc-alert-48:before {
  content: '\e9f1';
}
.icon-marketing-dc-caret-bottom-48:before {
  content: '\e9f2';
}
.icon-marketing-dc-caret-left-48:before {
  content: '\e9f3';
}
.icon-marketing-dc-caret-right-48:before {
  content: '\e9f4';
}
.icon-marketing-dc-caret-up-48:before {
  content: '\e9f5';
}
.icon-marketing-dc-chat-48:before {
  content: '\e9f6';
}
.icon-marketing-dc-document-48:before {
  content: '\e9f7';
}
.icon-marketing-dc-folder-48:before {
  content: '\e9f8';
}
.icon-marketing-dc-help-48:before {
  content: '\e9f9';
}
.icon-marketing-dc-info-48:before {
  content: '\e9fa';
}
.icon-marketing-dc-link-48:before {
  content: '\e9fb';
}
.icon-marketing-dc-list-48:before {
  content: '\e9fc';
}
.icon-marketing-dc-megaphone-48:before {
  content: '\e9fd';
}
.icon-marketing-dc-tag-48:before {
  content: '\e9fe';
}
.icon-marketing-dc-warning-48:before {
  content: '\e9ff';
}
.icon-marketing-deploy-48:before {
  content: '\ea00';
}
.icon-marketing-device-48:before {
  content: '\ea01';
}
.icon-marketing-doc-48:before {
  content: '\ea02';
}
.icon-marketing-docker-48:before {
  content: '\ea03';
}
.icon-marketing-download-48:before {
  content: '\ea04';
}
.icon-marketing-dyno-48:before {
  content: '\ea05';
}
.icon-marketing-dynos-48:before {
  content: '\ea06';
}
.icon-marketing-email-48:before {
  content: '\ea07';
}
.icon-marketing-enterprise-48:before {
  content: '\ea08';
}
.icon-marketing-enterprise-accounts-48:before {
  content: '\ea09';
}
.icon-marketing-events-48:before {
  content: '\ea0a';
}
.icon-marketing-facebook-48:before {
  content: '\ea0b';
}
.icon-marketing-flask-48:before {
  content: '\ea0c';
}
.icon-marketing-fork-48:before {
  content: '\ea0d';
}
.icon-marketing-github-2-48:before {
  content: '\ea0e';
}
.icon-marketing-github-48:before {
  content: '\ea0f';
}
.icon-marketing-globe-48:before {
  content: '\ea10';
}
.icon-marketing-instagram-48:before {
  content: '\ea11';
}
.icon-marketing-internal-routing-48:before {
  content: '\ea12';
}
.icon-marketing-kafka-48:before {
  content: '\ea13';
}
.icon-marketing-language-clojure-48:before {
  content: '\ea14';
}
.icon-marketing-language-go-48:before {
  content: '\ea15';
}
.icon-marketing-language-gradle-48:before {
  content: '\ea16';
}
.icon-marketing-language-java-48:before {
  content: '\ea17';
}
.icon-marketing-language-node-48:before {
  content: '\ea18';
}
.icon-marketing-language-php-48:before {
  content: '\ea19';
}
.icon-marketing-language-python-48:before {
  content: '\ea1a';
}
.icon-marketing-language-ruby-48:before {
  content: '\ea1b';
}
.icon-marketing-language-scala-48:before {
  content: '\ea1c';
}
.icon-marketing-levelup-48:before {
  content: '\ea1d';
}
.icon-marketing-lock-48:before {
  content: '\ea1e';
}
.icon-marketing-logs-48:before {
  content: '\ea1f';
}
.icon-marketing-metrics-48:before {
  content: '\ea20';
}
.icon-marketing-mtls-data-48:before {
  content: '\ea21';
}
.icon-marketing-multi-cloud-48:before {
  content: '\ea22';
}
.icon-marketing-parse-48:before {
  content: '\ea23';
}
.icon-marketing-partners-48:before {
  content: '\ea24';
}
.icon-marketing-pipelines-48:before {
  content: '\ea25';
}
.icon-marketing-play-48:before {
  content: '\ea26';
}
.icon-marketing-podcast-48:before {
  content: '\ea27';
}
.icon-marketing-postgres-48:before {
  content: '\ea28';
}
.icon-marketing-privatelink-data-48:before {
  content: '\ea29';
}
.icon-marketing-privatelink-kafka-48:before {
  content: '\ea2a';
}
.icon-marketing-privatelink-pg-48:before {
  content: '\ea2b';
}
.icon-marketing-privatelink-redis-48:before {
  content: '\ea2c';
}
.icon-marketing-redis-48:before {
  content: '\ea2d';
}
.icon-marketing-reviewapp-48:before {
  content: '\ea2e';
}
.icon-marketing-rollback-48:before {
  content: '\ea2f';
}
.icon-marketing-rss-48:before {
  content: '\ea30';
}
.icon-marketing-scale-48:before {
  content: '\ea31';
}
.icon-marketing-search-48:before {
  content: '\ea32';
}
.icon-marketing-secure-app-48:before {
  content: '\ea33';
}
.icon-marketing-seo-48:before {
  content: '\ea34';
}
.icon-marketing-sfdc-48:before {
  content: '\ea35';
}
.icon-marketing-shield-48:before {
  content: '\ea36';
}
.icon-marketing-shielded-space-48:before {
  content: '\ea37';
}
.icon-marketing-site-to-site-vpn-48:before {
  content: '\ea38';
}
.icon-marketing-spaces-48:before {
  content: '\ea39';
}
.icon-marketing-stars-48:before {
  content: '\ea3a';
}
.icon-marketing-starssolid-48:before {
  content: '\ea3b';
}
.icon-marketing-student-cap-48:before {
  content: '\ea3c';
}
.icon-marketing-support-48:before {
  content: '\ea3d';
}
.icon-marketing-sync-48:before {
  content: '\ea3e';
}
.icon-marketing-team-48:before {
  content: '\ea3f';
}
.icon-marketing-transfer-48:before {
  content: '\ea40';
}
.icon-marketing-twitter-48:before {
  content: '\ea41';
}
.icon-marketing-user-48:before {
  content: '\ea42';
}
.icon-marketing-video-48:before {
  content: '\ea43';
}
.icon-marketing-webhooks-48:before {
  content: '\ea44';
}
.icon-marketplace-16:before {
  content: '\ea45';
}
.icon-marketplace-28:before {
  content: '\ea46';
}
.icon-maximize-16:before {
  content: '\ea47';
}
.icon-maximize-28:before {
  content: '\ea48';
}
.icon-metrics-16:before {
  content: '\ea49';
}
.icon-metrics-28:before {
  content: '\ea4a';
}
.icon-minimize-16:before {
  content: '\ea4b';
}
.icon-minimize-28:before {
  content: '\ea4c';
}
.icon-nav-back-16:before {
  content: '\ea4d';
}
.icon-nav-back-28:before {
  content: '\ea4e';
}
.icon-nav-forward-16:before {
  content: '\ea4f';
}
.icon-nav-forward-28:before {
  content: '\ea50';
}
.icon-nav-go-16:before {
  content: '\ea51';
}
.icon-nav-go-28:before {
  content: '\ea52';
}
.icon-network-16:before {
  content: '\ea53';
}
.icon-network-28:before {
  content: '\ea54';
}
.icon-notification-16:before {
  content: '\ea55';
}
.icon-notification-28:before {
  content: '\ea56';
}
.icon-open-16:before {
  content: '\ea57';
}
.icon-open-28:before {
  content: '\ea58';
}
.icon-overview-16:before {
  content: '\ea59';
}
.icon-overview-28:before {
  content: '\ea5a';
}
.icon-pause-16:before {
  content: '\ea5b';
}
.icon-pause-28:before {
  content: '\ea5c';
}
.icon-pending-16:before {
  content: '\ea5d';
}
.icon-pending-28:before {
  content: '\ea5e';
}
.icon-personal-16:before {
  content: '\ea5f';
}
.icon-personal-28:before {
  content: '\ea60';
}
.icon-pipeline-16:before {
  content: '\ea61';
}
.icon-pipeline-28:before {
  content: '\ea62';
}
.icon-pipelines-16:before {
  content: '\ea63';
}
.icon-pipelines-28:before {
  content: '\ea64';
}
.icon-play-16:before {
  content: '\ea65';
}
.icon-play-28:before {
  content: '\ea66';
}
.icon-remove-badge-16:before {
  content: '\ea67';
}
.icon-remove-badge-28:before {
  content: '\ea68';
}
.icon-remove-mark-16:before {
  content: '\ea69';
}
.icon-remove-mark-28:before {
  content: '\ea6a';
}
.icon-remove-ring-16:before {
  content: '\ea6b';
}
.icon-remove-ring-28:before {
  content: '\ea6c';
}
.icon-repo-16:before {
  content: '\ea6d';
}
.icon-repo-28:before {
  content: '\ea6e';
}
.icon-restart-16:before {
  content: '\ea6f';
}
.icon-restart-28:before {
  content: '\ea70';
}
.icon-rollback-16:before {
  content: '\ea71';
}
.icon-rollback-28:before {
  content: '\ea72';
}
.icon-search-16:before {
  content: '\ea73';
}
.icon-search-28:before {
  content: '\ea74';
}
.icon-service-bitbucket-16:before {
  content: '\ea75';
}
.icon-service-bitbucket-28:before {
  content: '\ea76';
}
.icon-service-docker-16:before {
  content: '\ea77';
}
.icon-service-docker-28:before {
  content: '\ea78';
}
.icon-service-dropbox-16:before {
  content: '\ea79';
}
.icon-service-dropbox-28:before {
  content: '\ea7a';
}
.icon-service-git-16:before {
  content: '\ea7b';
}
.icon-service-git-28:before {
  content: '\ea7c';
}
.icon-service-github-16:before {
  content: '\ea7d';
}
.icon-service-github-28:before {
  content: '\ea7e';
}
.icon-service-github-enterprise-16:before {
  content: '\ea7f';
}
.icon-service-github-enterprise-28:before {
  content: '\ea80';
}
.icon-service-gitlab-16:before {
  content: '\ea81';
}
.icon-service-gitlab-28:before {
  content: '\ea82';
}
.icon-service-slack-16:before {
  content: '\ea83';
}
.icon-service-slack-28:before {
  content: '\ea84';
}
.icon-settings-16:before {
  content: '\ea85';
}
.icon-settings-28:before {
  content: '\ea86';
}
.icon-setup-16:before {
  content: '\ea87';
}
.icon-setup-28:before {
  content: '\ea88';
}
.icon-sfdc-16:before {
  content: '\ea89';
}
.icon-sfdc-28:before {
  content: '\ea8a';
}
.icon-space-16:before {
  content: '\ea8b';
}
.icon-space-28:before {
  content: '\ea8c';
}
.icon-space-shielded-16:before {
  content: '\ea8d';
}
.icon-space-shielded-28:before {
  content: '\ea8e';
}
.icon-success-badge-16:before {
  content: '\ea8f';
}
.icon-success-badge-28:before {
  content: '\ea90';
}
.icon-success-mark-16:before {
  content: '\ea91';
}
.icon-success-mark-28:before {
  content: '\ea92';
}
.icon-success-ring-16:before {
  content: '\ea93';
}
.icon-success-ring-28:before {
  content: '\ea94';
}
.icon-sync-16:before {
  content: '\ea95';
}
.icon-sync-28:before {
  content: '\ea96';
}
.icon-target-16:before {
  content: '\ea97';
}
.icon-target-28:before {
  content: '\ea98';
}
.icon-team-16:before {
  content: '\ea99';
}
.icon-team-28:before {
  content: '\ea9a';
}
.icon-time-16:before {
  content: '\ea9b';
}
.icon-time-28:before {
  content: '\ea9c';
}
.icon-toggle-16:before {
  content: '\ea9d';
}
.icon-toggle-28:before {
  content: '\ea9e';
}
.icon-transfer-16:before {
  content: '\ea9f';
}
.icon-transfer-28:before {
  content: '\eaa0';
}
.icon-usage-16:before {
  content: '\eaa1';
}
.icon-usage-28:before {
  content: '\eaa2';
}
.icon-user-16:before {
  content: '\eaa3';
}
.icon-user-28:before {
  content: '\eaa4';
}
.icon-visibility-16:before {
  content: '\eaa5';
}
.icon-visibility-28:before {
  content: '\eaa6';
}
.icon-visibility-off-16:before {
  content: '\eaa7';
}
.icon-visibility-off-28:before {
  content: '\eaa8';
}
.icon-warning-badge-16:before {
  content: '\eaa9';
}
.icon-warning-badge-28:before {
  content: '\eaaa';
}
.icon-warning-mark-16:before {
  content: '\eaab';
}
.icon-warning-mark-28:before {
  content: '\eaac';
}
.icon-warning-ring-16:before {
  content: '\eaad';
}
.icon-warning-ring-28:before {
  content: '\eaae';
}
.icon-webhooks-16:before {
  content: '\eaaf';
}
.icon-webhooks-28:before {
  content: '\eab0';
}
